<div>
  <h1><%= t('time_win.title') %></h1>
  <p><%= t('time_win.subtitle') %></p>
  <%= link_to t('common.ok'), edit_agent_path , class: "btn btn-pink flexbox" %>
</div>
<div>
  <p><%= t('common.or') %></p>
</div>
<%= render "shared/samu_call" %>
